BODY {background-color: blue;}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
 
  
  .pixelField6x6 {
  /* style */
    border: solid;
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(6, 120px);
    gap: 0px;
    grid-auto-columns: 120px;
    grid-auto-rows: 120px;
  }
  .pixelField3x3 {
    /* style */
    border: solid;
    display: grid;
    grid-template-columns: repeat(3, auto-fit);
    grid-template-rows: repeat(3, auto-fit);
    gap: 0px;
    grid-auto-columns: 40px;
    grid-auto-rows: 40px;
  }
    .pixelField {
    /* style */
    border: solid;
  }