BODY {background-color: blue;}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  button {width: 200px; height: 200px}
   
  .pixelField6x6 {
  /* style */
    width: 900px;
    border: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px;
    grid-auto-columns: repeat(6, 120px);
    grid-auto-rows: repeat(6, 120px);
  }
  .pixelField3x3 {
    /* style */
    border: solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    grid-auto-columns: repeat(3, 40px);
    grid-auto-rows: repeat(3, 40px);
  }
    .pixelField {
    /* style */
    border: solid;
  }