body {
  background-color: darkorange;
}

.header {
  display: inline;
  width: 100%
}

button {
  width: 200px; 
  height: 100px; 
  font-size:large;
}
.ui-menu { width: 150px; }
.pixelField6x6 {
    width: 769px;
    padding: 5px;
    grid-column: 1 / 2;
    border: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    grid-auto-columns: repeat(6, 120px);
    grid-auto-rows: repeat(6, 120px);
  }

  .pixelField6x6Cell {
    border: none;
    position: relative;
  }
  
  .pixelField3x3 {
    position: inline;
    border: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    grid-auto-columns: repeat(3, 40px);
    grid-auto-rows: repeat(3, 40px);
  }
  
  .pixelField {
    border: none;
  }

  .hover_overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 2;
    cursor: pointer;
  }

  .selection_overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,0,0.5);
    z-index: 3;
    cursor: pointer;
  }

  .equals_overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,255,0.5);
    z-index: 2;
    cursor: pointer;
  }
